<footer class="footer">
  <small>
    A mini version of <a href="http://twitter.com/">Twitter</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>